name: APP-Deploy-STG

on: [push]

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Get Version
      id: version
      uses: martinbeentjes/npm-get-version-action@master
    - name: Install dependencies
      run: npm install
    - name: Build Application
      run: npm run electron:windows:staging
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: release-${{ steps.version.outputs.current-version }}
        release_name: Release ${{ steps.version.outputs.current-version }}
        draft: false
        prerelease: false
    - name: Upload Build Artifact
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: "./release/Nota ${{ steps.version.outputs.current-version }}.exe"
        asset_name: Nota ${{ steps.version.outputs.current-version }}.exe
        asset_content_type: application/zip
